body {
  background-color: darkgrey;
}

#kortit {
  background-color: blue;
  position: fixed;
  margin-left: -100px;
  margin-top: -100px;
  left: 50%;
  top: 14%;
}



td{
  background-color: darkviolet;
  height: 165px;
  width: 165px;
  text-align: center;
  font-size: 72px;
  background-size: 165px 165px;
}

img{
  height: 165px;
}

#pelialue {
 display: inline-block;
 position: fixed;
 margin-left: -100px;
 margin-top: -100px;
 left: 33%;
 top: 20%;
}
